.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.map-container{
  height:100%;
}

.map-container__map{
  height:100%;
}

.header{
  background-color: #666;
  width: 100%;
  overflow: auto;
  color:#fff;
}

.Main{
  max-width: 1280px;
  width:100%;
  margin:0px auto;
}

.Users{
  margin:20px;
}

.Users .Customers{
  float: left;
  width: 50%;
}

.btn{
  padding:10px;
  margin:5px;
}

.profile-main form,.ride-view,.driver-rides{
  width: 50%;
  margin:0px auto;
}

.padding10{
  padding-left:10px;
  padding-right:10px;
}

.margin10{
  margin-top:10px;
  margin-bottom:10px;
}
.ride-view .current-ride{
  border: 1px dotted #bbb;
}

.right, .align-right{
  text-align: right;
}

.align-left{
  text-align: left;
}
.float-right{
  float:right;
}

.float-left{
  float:left;
}

.line3{
  line-height:  3em;
}

.profile-form input[type="text"]{
  width:100%;
  padding:5px;
  margin-top:10px;
  margin-bottom: 10px;
}

.profile-form:after {
  
  clear: both;
}

.new-ride{
  text-align: left;
}

.new-ride .row-item{
  margin:10px;
}

.new-ride .row-item label{
  width:150px;
  padding:10px;
  display: inline-block;
}

.new-ride .row-item select{
  padding:5px;
}

.ride-details span{
  display: inline-block;
  width:100px;
  margin:0px 0px;
}
.ride-details h3{
  display: inline-block;
  margin:0px 10px;
}

.ride-details .map-location{
  margin:0px 10px;
  padding:0px 10px;
}
.ride-drivers .driver-line-item{
  padding:10px;
  margin:10px 0px;
  border :1px dotted #aaa;
}

.w100{
  width: 100px;
}

.ride-drivers .driver-line-item label.label{
  display: inline-block;
}
.ride-drivers .driver-line-item label{
  padding:5px;
}
.driver-rides .customer-ride{
  padding:10px;
  margin:10px 0px;
  text-align: left;
  border:1px dotted #aaa;
}

.driver-rides  .customer-name label{
  display: inline-block;
  width:100px;
}

.driver-rides  .customer-name h4{
  display: inline-block;
  margin:0px 10px;  
}

.driver-rides  .customer-ride-coordinates{
  padding:10px;
  margin-bottom: 10px;
}

.driver-ongoing-ride-item{
  padding:10px;
  margin-bottom: 10px;
  border:1px dotted #777;
}

.border{
  border:1px solid #aaa;
}

.driver-rides .customer-ride .customer-ride-status{
  
}
.driver-rides  .location-label{
  width:100px;
  padding:10px;
}

.driver-rides   .location-name{
  width:100px;
  padding:10px;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
